@using CommonCrm.Data.Entities.AppUser
@model ApplicationUser

@{
ViewData["Title"] = "CustomerAdd";
Layout = "~/Views/Shared/_Layout.cshtml";
var model = Model;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 person">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Bireysel</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation" method="post" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="FirstName" class="form-label">İsim</label>
                                        <input type="text" class="form-control" id="FirstName" asp-for="Name" placeholder="İsim" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir isim girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="LastName" class="form-label">Soyisim</label>
                                        <input type="text" class="form-control" id="LastName" asp-for="Surname" placeholder="Soyisim" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Soyisim girin.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Kimlik No" class="form-label">Kimlik No</label>
                                        <input type="text" class="form-control" id="TcNo" asp-for="TcNo" placeholder="Kimlik No" required>
                                        <div class="invalid-feedback">
                                            Lütfen 11 haneli geçerli Kimlik Numaranızı girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="City" class="form-label">Telefon</label>
                                        <input type="text" class="form-control" id="PhoneNumber" asp-for="PhoneNumber" placeholder="Telefon" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Telefon Numarası girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">E-Posta</label>
                                        <input type="text" class="form-control" id="Email" asp-for="Email" placeholder="E-posta" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir E-posta girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Country" class="form-label">Ülke</label>
                                        <input type="text" class="form-control" id="Country" asp-for="Country" placeholder="Ülke" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Ülke girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="City" class="form-label">Şehir</label>
                                        <input type="text" class="form-control" id="City" asp-for="City" placeholder="Şehir" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Şehir girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Zip" class="form-label">Posta Kodu</label>
                                        <input type="text" class="form-control" id="Zip" asp-for="Zip" placeholder="Posta Kodu" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Posta Kodu girin.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck1" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Bilgilerin doğruluğunu onaylıyorum.
                                </label>
                                <div class="invalid-feedback">
                                    Kaydetmeden önce bilgilerin doğruluğunu onaylamanız gerekli.
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-success waves-effect waves-light" type="submit">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 company">
                <div class="col-6">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Şirket</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation" method="post" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="Title" class="form-label">Şirket Ünvanı</label>
                                        <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Şirket Ünvanı" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Şirket Ünvanı girin.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="PhoneNumber" class="form-label">Telefon</label>
                                        <input type="text" class="form-control" id="PhoneNumber" asp-for="PhoneNumber" placeholder="Telefon" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Telefon Numarası girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">E-Posta</label>
                                        <input type="text" class="form-control" id="Email" asp-for="Email" placeholder="E-posta" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir E-posta girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Country" class="form-label">Ülke</label>
                                        <input type="text" class="form-control" id="Country" asp-for="Country" placeholder="Ülke" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Ülke girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="City" class="form-label">Şehir</label>
                                        <input type="text" class="form-control" id="City" asp-for="City" placeholder="Şehir" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Şehir girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="OfficialName" class="form-label">Yetkili İsim</label>
                                        <input type="text" class="form-control" id="OfficialName" asp-for="OfficialName" placeholder="Yetkili İsim" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Yetkili ismi girin.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="OfficialSurname" class="form-label">Yetkili Soyismi</label>
                                        <input type="text" class="form-control" id="OfficialSurname" asp-for="OfficialSurname" placeholder="Yetkili Soyismi" required>
                                        <div class="invalid-feedback">
                                            Lütfen geçerli bir Yetkili Soyismi girin.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Bilgilerin doğruluğunu onaylıyorum.
                                </label>
                                <div class="invalid-feedback">
                                    Kaydetmeden önce bilgilerin doğruluğunu onaylamanız gerekli.
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-success waves-effect waves-light" type="submit">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
    debugger;
        var isConditionMet = '@Model.IsCustomerCompany'; // Modelinizin boolean özelliği burada

        var element = document.querySelector('.company'); // Gizlemek istediğiniz HTML elementinin sınıfını belirtin
        var person = document.querySelector('.person');

        if (isConditionMet === 'True') {
            element.style.display = 'block';
            person.style.display = 'none';
        } else {
            element.style.display = 'none';
            person.style.display = 'block';
        }
    });
</script>
