@model CommonCrm.Data.Entities.Product.Attribute

@{
    Layout = null;
    var userName = User.Identity?.Name;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <title>title</title>
</head>
<body>
<form asp-action="CreateProductUnit" asp-controller="Admin" method="post">
<div class="mb-3">
    <label asp-for="Width" class="form-label"></label>
    <input asp-for="Name" class="form-control" required />
    @if (userName != null)
    {
        <input asp-for="CreatedBy" value="@userName" hidden="hidden"/>
    }
    <button type="submit">Kaydet</button>
</div>
</form>
</body>
</html>