<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Müşteriler</h4>
               
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>İsim Soyisim</th>
                            <th>Tür</th>
                            <th>Şehir</th>
                            <th>Durum</th>
                            <th>Atanan</th>
                            <th>Atayan</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>Yiğit Ferhat Özdemir</td>
                            <td>Kişi</td>
                            <td>Kahramanmaraş</td>
                            <td>Aktif</td>
                            <td>Enes Y.</td>
                            <td>Enes Yazar</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 