

<div class="page-content">
    <div class="container-fluid">

<div class="col-lg-9">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h5>Ürünler</h5>
                            
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-inline float-md-end">
                            <div class="search-box ms-2">
                                <div class="position-relative">
                                    <input type="text" class="form-control rounded" placeholder="Ara...">
                                    <i class="mdi mdi-magnify search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <ul class="list-inline my-3 ecommerce-sortby-list">
                    <li class="list-inline-item">
                        <span class="fw-medium font-family-secondary">
                           Filtrele:
                        </span>
                    </li>
                    <li class="list-inline-item active"><a href="#">Popülerlik</a></li>
                    <li class="list-inline-item"><a href="#">En yeni</a></li>
                            <li class="list-inline-item"><a href="#">İndirimli</a></li>
                </ul>

                <div class="row g-0">
                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-ribbon badge bg-warning">
                                    Trend Ürün
                                </div>
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-1.png" alt="img-1"
                                     class="img-fluid mx-auto d-block">
                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">Ürün 1</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">
                                        Ürün açıklama
                                    </a>
                                </h5>

                                        <h5 class="mt-3 mb-0">₺</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-ribbon badge bg-primary">
                                    - 25 %
                                </div>
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-2.png" alt="img-2"
                                     class="img-fluid mx-auto d-block">
                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">Ürün 2</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">
                                        Ürün Açıklama
                                    </a>
                                </h5>

                                <h5 class="mt-3 mb-0">
                                            <span class="text-muted me-2"><del>₺</del></span>₺
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart text-danger"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-3.png" alt="img-3"
                                     class="img-fluid mx-auto d-block">
                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">Ürün 3</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">Ürün Açıklama</a>
                                </h5>

                                <h5 class="mt-3 mb-0">
                                            <span class="text-muted me-2"><del>₺</del></span>₺
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-4.png" alt="img-4"
                                     class="img-fluid mx-auto d-block">
                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">Ürün 4</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">Ürün Açıklama</a>
                                </h5>

                                <h5 class="mt-3 mb-0">
                                            <span class="text-muted me-2"><del>₺</del></span>₺
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart text-danger"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-5.png" alt="img-5"
                                     class="img-fluid mx-auto d-block">
                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">ürün 5</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">
                                        Ürün Açıklama
                                    </a>
                                </h5>

                                        <h5 class="mt-3 mb-0">₺</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img">
                                <div class="product-ribbon badge bg-primary">
                                    - 22 %
                                </div>
                                <div class="product-like">
                                    <a href="#">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </div>
                                <img src="assets/images/product/img-6.png" alt="img-6"
                                     class="img-fluid mx-auto d-block">

                            </div>

                            <div class="text-center">
                                <p class="font-size-12 mb-1">Ürün 6</p>
                                <h5 class="font-size-15">
                                    <a href="#" class="text-reset">
                                        Ürün Açıklama
                                    </a>
                                </h5>

                                <h5 class="mt-3 mb-0">
                                            <span class="text-muted me-2"><del>₺</del></span>₺
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-6">
                        <div>
                            <p class="mb-sm-0 mt-2">
                                Page <span class="fw-bold">2</span> Of <span class="fw-bold">113</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-end">
                            <ul class="pagination pagination-rounded mb-sm-0">
                                <li class="page-item disabled">
                                    <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link"><i class="mdi mdi-chevron-end"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>