@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CommonCrm.Business.DTOs.CreateProductDto
<div id="partialModal" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Birim Ekle</h5>
            </div>
            <div class="modal-body">
                <p>Birim eklendikten sonra sayfa yenilenecektir.</p>
            </div>
            <form id="unitAddForm" method="post">
                <div class="modal-body">
                    <label class="form-label">Birim İsmi</label>
                    <input required placeholder="Birim" asp-for="ProductUnit.Name" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <a  class="btn btn-success unit">Kaydet</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#partialModal').on('click', '.unit', function(e){
            //e.preventDefault();
            saveProductUnit(); // Fonksiyonu çağır
        });
    });

    function saveProductUnit() {
        var formData = $('#unitAddForm').serialize(); // Form verilerini al
        $.ajax({
            url: '@Url.Action("SaveProductUnit", "Product")',
            type: 'POST',
            data: formData,
            success: function(response) {
                debugger;

                if (response === "Ekleme Başarılı."){}
                // Modalı kapat
                $('#partialModal').modal('hide');
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hata durumunda yapılacak işlemler
            }
        });
    }
</script>