@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CommonCrm.Business.DTOs.CreateProductDto
<div id="partialModalCategory" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Kategori Ekle</h5>
            </div>
            <div class="modal-body">
                <p>Kategori eklendikten sonra sayfa yenilenecektir.</p>
            </div>
            <form id="categoryAddForm" method="post">
                <div class="modal-body">
                    <label class="form-label">Kategori İsmi</label>
                    <input required placeholder="kategori" asp-for="Category.Name" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <a onclick="saveCategory()" class="btn btn-success">Kaydet</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#partialModalCategory').on('click', '.btn-success', function(e){
            e.preventDefault();
            saveCategory(); // Fonksiyonu çağır
        });
    });

    function saveCategory() {
        var formData = $('#categoryAddForm').serialize(); // Form verilerini al
        debugger;
        $.ajax({
            url: '@Url.Action("SaveCategoryPartial", "Product")',
            type: 'POST',
            data: formData,
            success: function(response) {
                // Başarılı bir şekilde tamamlandığında yapılacak işlemler
                
                // Modalı kapat
                $('#partialModal').modal('hide');
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hata durumunda yapılacak işlemler
            }
        });
    }
</script>