@using CommonCrm.Data.Entities.AppUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userService
@{
    ViewData["Title"] = "Home Page";
}
@{
    var currentUserName = User.Identity?.Name;
    if (currentUserName != null)
    {
        var user = userService.FindByNameAsync(currentUserName).Result;
    }
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Anasayfa</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="/panel/dashboard">CRM</a>
                            </li>
                            <li class="breadcrumb-item active">Anasayfa</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-1 overflow-hidden">
                                        <p class="text-truncate font-size-14 mb-2">Toplam Satış</p>
                                        <h4 class="mb-0">1452</h4>
                                    </div>
                                    <div class="text-primary ms-auto">
                                        <i class="ri-stack-line font-size-24"></i>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-1 overflow-hidden">
                                        <p class="text-truncate font-size-14 mb-2">Toplam Teklif</p>
                                        <h4 class="mb-0">352</h4>
                                    </div>
                                    <div class="text-primary ms-auto">
                                        <i class="ri-store-2-line font-size-24"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-1 overflow-hidden">
                                        <p class="text-truncate font-size-14 mb-2">Ürün Sayısı</p>
                                        <h4 class="mb-0">34</h4>
                                    </div>
                                    <div class="text-primary ms-auto">
                                        <i class="ri-briefcase-4-line font-size-24"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-1 overflow-hidden">
                                        <p class="text-truncate font-size-14 mb-2">Teklif Geri Dönüş Sayısı</p>
                                        <h4 class="mb-0">154</h4>
                                    </div>
                                    <div class="text-primary ms-auto">
                                        <i class="ri-briefcase-4-line font-size-24"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>

        </div>
    </div>

</div>